body {
    background-color: bisque;
    font-family: Verdana, serif;
    width: 800px;    
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

h1,h3 {
    font-style: italic;
}

img {
    border: 3px solid rgb(247, 0, 0);
}

.description_container{
    overflow: hidden;
    }
.description_container img{
    float: left;
    margin-right: 10px;
    }

.description_header{
    margin-top: -19px;
    margin-left: 0px;
    background-color: rgb(190, 190, 190);
    }
.description_body{
    margin-top: -19px;
    background-color: rgb(235, 235, 235);
}

.ingredient_header{
    background-color: goldenrod;
    }
.ingredient_body{
    background-color: rgba(255, 209, 91, 0.622);
    margin-top: -19px
    }

.directions_header{
    background-color: rgb(255, 122, 107);
}
.directions_body{
    background-color: rgba(255, 146, 134, 0.67);;
    margin-top: -19px
}